@model EPORTAL.ModelsPartner.CardTempValidation

@using (Html.BeginForm("ImportExcels", "CardTemp", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{
    <link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset id="SubmitForm">
                    <div class="form-row">


                        <div class="form-group col-md-12">
                            <label class="small mb-1" for="inputLastName">Chọn file Import</label>
                            <input type="file" id="FileUpload" name="FileUpload" class="form-control-file" onchange="checkfile(this);" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @*<a style="font-size:70%;" href="@Url.Action("DownloadExcel", "Violate")"> <i class="fa fa-download" aria-hidden="true"></i> Tải biểu mẫu import </a>*@
                            <button class="btn btn-primary pull-right" id="btnSubmit"><i class="fa fa-check-circle"></i> Xác nhận</button>
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>
    </div>
}
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<script>
    function checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls", ".XLSX", ".XLS");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Vui lòng chọn file Excel: " +
                validExts.toString() + "");
            $('#FileUpload').val() = '';
            return false;
        }
        else { return true; }
    };
    $("#btnSubmit").on('click', function () {
        var file = $('#FileUpload').val();
        if (file.length == 0) {
            alert('Vui lòng chọn file Import.');
            return false;
        } else {
            var validExts = new Array(".xlsx", ".xls", ".XLSX", ".XLS");
            var fileExt = file;
            fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
            if (validExts.indexOf(fileExt) < 0) {
                alert("Vui lòng chọn file Excel: " +
                    validExts.toString() + "");
                return false;
            }
            else {
                return true;
            }
        }
    });

    $(function () {
        $("#multiSelectDropDown").chosen({
            width: "100%"
        });
    });
</script>




