#news-category {
    margin-top: 50px;
}

    #news-category h1.title {
        color: #333;
        font-size: 22px;
        text-transform: uppercase;
        padding-bottom: 20px;
    }

.top-content li {
    float: right;
    width: 580px;
}

    .top-content li .image {
        width: 190px;
        float: left;
        max-height: 150px;
        overflow: hidden;
    }

    .top-content li img {
        width: 100%;
        float: left;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }

    .top-content li:hover img {
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
    }

    .top-content li:hover h3 {
        color: #1d428a !important;
        transition: .5s;
    }

    .top-content li .infomation {
        width: calc(100% - 210px);
        float: right;
    }

    .top-content li:nth-child(n+2) {
        padding: 15px;
        box-sizing: border-box;
        border: 1px solid #ededed;
        border-bottom: none;
    }

        .top-content li:nth-child(n+2) .time {
            color: #333;
            padding: 10px 0;
        }

            .top-content li:nth-child(n+2) .time i {
                padding-right: 5px;
            }

        .top-content li:nth-child(n+2) h3 {
            color: #333;
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 5px;
            height: 35px;
            overflow: hidden;
            margin-bottom: 5px;
        }

        .top-content li:nth-child(n+2) .info {
            color: #333;
            line-height: 22px;
            height: 66px;
            overflow: hidden;
        }

    .top-content li:last-child {
        border-bottom: 1px solid #ededed;
    }

    .top-content li:first-child {
        width: 570px;
        float: left;
        background: #ededed;
    }

        .top-content li:first-child .image {
            width: 100%;
            height: 365px;
            max-height: 400px;
            float: left;
            overflow: hidden;
        }

        .top-content li:first-child img {
            width: 100%;
            float: left;
        }

        .top-content li:first-child .time {
            color: #333;
            padding: 10px 20px;
        }

            .top-content li:first-child .time i {
                padding-right: 5px;
            }

        .top-content li:first-child .fa-clock-o {
            padding-left: 20px;
        }

        .top-content li:first-child h3 {
            color: #333;
            font-size: 20px;
            line-height: 25px;
            padding: 0 20px 10px;
            height: 40px;
            overflow: hidden;
            margin-bottom: 10px;
        }

        .top-content li:first-child .info {
            color: #333;
            height: 60px;
            line-height: 20px;
            padding: 0 20px 20px;
            overflow: hidden;
        }

#news-category .bottom-content {
    margin-top: 30px;
    padding-bottom: 20px;
}

#news-category .list-news {
    width: 770px;
    float: left;
}

#news-category .sidebar-news {
    width: 370px;
    float: right;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ededed;
    background: #ededed;
}

.bottom-content .list-news li {
    float: left;
    width: 100%;
}

    .bottom-content .list-news li .image {
        width: 270px;
        max-height: 200px;
        float: left;
        overflow: hidden;
        /*height: 150px;*/
        /*margin:0 auto;*/
        /*position:relative;*/
    }

    .bottom-content .list-news li img {
        /*margin:auto;*/
        /*position:absolute;*/
        /*top:0; left:0; right:0; bottom:0;*/
        /*max-width: 100%;*/
        /*max-height: 150px;*/
        width: 100%;
        float: left;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }

    .bottom-content .list-news li:hover img {
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
    }

    .bottom-content .list-news li:hover h3 {
        color: #1d428a;
        transition: .5s;
    }

    .bottom-content .list-news li .infomation {
        width: calc(100% - 290px);
        float: right;
    }

.bottom-content .list-news li {
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
    border-top: 1px solid #ededed;
}

    .bottom-content .list-news li .time {
        color: #333;
        padding: 10px 0;
    }

        .bottom-content .list-news li .time i {
            padding-right: 5px;
        }

    .bottom-content .list-news li h3 {
        color: #333;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 5px;
    }

    .bottom-content .list-news li .info {
        color: #333;
        line-height: 22px;
    }

    .bottom-content .list-news li:last-child {
        border-bottom: 1px solid #ededed;
    }

.sidebar-news .title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
}

.sidebar-news li {
    width: 100%;
    float: left;
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
}

    .sidebar-news li:last-child {
        border-bottom: none;
    }

.sidebar-news .image {
    width: 100px;
    height: 65px;
    float: left;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

    .sidebar-news .image img {
        max-width: 100%;
        max-height: 165px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }

.sidebar-news h3 {
    width: calc(100% - 110px);
    float: right;
    color: #333;
    line-height: 18px;
    font-size: 14px;
}

.sidebar-news li:hover img {
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
}

.sidebar-news li:hover h3 {
    color: #1d428a;
    transition: .5s;
}

.sidebar-news .show-more {
    text-align: right;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    clear: both;
    padding: 10px 0;
}

    .sidebar-news .show-more i {
        padding-left: 10px;
        font-size: 16px;
    }

#news-detail {
    margin: 50px 0;
}

    #news-detail .content-detail {
        width: 770px;
        float: left;
    }

    #news-detail h1.title {
        color: #333;
        font-size: 25px;
        line-height: 22px;
    }

    #news-detail .time {
        color: #333;
        padding: 10px 0;
    }

    #news-detail .time {
        color: #333;
        padding: 10px 0;
    }

        #news-detail .time i {
            padding-right: 5px;
        }

        #news-detail .time .fa-clock-o {
            padding-left: 10px;
        }

    #news-detail .comments {
        margin-top: 30px;
    }

        #news-detail .comments .fb-comments {
            width: 100%;
            float: left;
        }

        #news-detail .comments .content-comments {
            padding: 20px;
            box-sizing: border-box;
            border: 1px solid #ddd;
        }

        #news-detail .comments .title {
            color: #333;
            font-weight: bold;
            font-size: 22px;
            padding-bottom: 15px;
        }

    #news-detail .relate-news {
        margin-top: 30px;
        padding-bottom: 20px;
        position: relative;
    }

        #news-detail .relate-news .title {
            color: #333;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 25px;
            padding-bottom: 20px;
        }

        #news-detail .relate-news li {
            width: 230px;
            float: left;
        }

        #news-detail .relate-news .image {
            width: 100%;
            float: left;
            height: 150px;
            overflow: hidden;
        }

        #news-detail .relate-news img {
            width: 100%;
            float: left;
        }

        #news-detail .relate-news h3 {
            color: #333;
        }

        #news-detail .relate-news li:nth-child(2) {
            /*margin: 0 40px;*/
        }

.relate-news .icon-next {
    background-position: -326px -17px;
}

.relate-news .icon-prev {
    background-position: -360px -17px;
}

.relate-news .icon-hoaphat-next {
    width: 40px;
    height: 35px;
    background: #ededed;
    position: absolute;
    top: -45px;
    right: 0;
    border-radius: 2px;
    cursor: pointer;
}

.relate-news .icon-hoaphat-prev {
    width: 40px;
    height: 35px;
    background: #ededed;
    position: absolute;
    top: -45px;
    right: 55px;
    border-radius: 2px;
    cursor: pointer;
}

.sidebar-news-detail {
    width: 350px;
    float: right;
}

    .sidebar-news-detail .image {
        width: 120px;
        float: left;
    }

    .sidebar-news-detail img {
        width: 100%;
        float: left;
    }

    .sidebar-news-detail .infomation {
        width: calc(100% - 130px);
        float: right;
    }

    .sidebar-news-detail h3 {
        color: #333;
        padding: 5px 0;
        line-height: 20px;
        font-size: 14px;
    }

    .sidebar-news-detail li {
        width: 100%;
        float: left;
        padding: 15px 0;
        border-bottom: 1px solid #ededed;
    }

        .sidebar-news-detail li:hover h3 {
            color: #1d428a;
            transition: .5s;
        }

    .sidebar-news-detail .time {
        padding: 0 !important;
    }

    .sidebar-news-detail .title {
        color: #333;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
        padding-bottom: 20px;
    }

    .sidebar-news-detail .news-new {
        margin-bottom: 50px;
    }

#recruitment {
    margin: 50px 0;
}

    #recruitment .filter {
        float: right;
        width: 100%;
        text-align: right;
        color: #333;
    }

        #recruitment .filter select {
            height: 30px;
            width: 100px;
            padding-left: 5px;
            color: #333;
        }

    #recruitment table {
        width: 100%;
        float: left;
        margin-top: 30px;
    }

    #recruitment th {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        padding: 12px 10px;
        border-right: 1px solid #fff;
    }

    #recruitment tr:first-child {
        background-color: #0192c9;
        background-image: -webkit-linear-gradient(#0192c9, #0188bb);
        background-image: -o-linear-gradient(#0192c9, #0188bb);
        background-image: linear-gradient(#0192c9, #0188bb);
    }

    #recruitment td.center {
        text-align: center;
    }

    #recruitment i.icon-user {
        background-position: -422px 2px;
        width: 70px;
        height: 70px;
    }

    #recruitment tr td:first-child {
        color: #333;
        font-weight: bold;
        font-size: 16px;
    }

    #recruitment tr span {
        padding-top: 25px;
        float: left;
        color: #333;
    }

        #recruitment tr span:hover {
            color: #1d428a;
            transition: .5s;
        }

    #recruitment tr td {
        padding: 5px 0;
        color: #333;
        font-weight: bold;
        font-size: 16px;
    }

    #recruitment tr:nth-child(n+2) {
        border-bottom: 1px solid #ddd;
    }

    #recruitment .fa-map-marker {
        color: #d2213b;
        font-size: 22px;
        padding-right: 10px;
    }

    #recruitment tr td:last-child {
        color: #0098d2;
        font-size: 14px;
        font-weight: normal;
    }

#recruitment-detail {
    margin: 50px 0;
}

.content-recruitment {
    width: 770px;
    float: left;
}

.sidebar-recruitment {
    width: 350px;
    float: right;
    padding: 0 30px;
    box-sizing: border-box;
    background: #ededed;
}

    .sidebar-recruitment .item {
        width: 100%;
        float: left;
        padding: 20px 0;
        border-bottom: 1px solid #bdbcbc;
    }

    .sidebar-recruitment .icon {
        width: 60px;
        height: 50px;
        float: left;
    }

    .sidebar-recruitment .text {
        width: calc(100% - 70px);
        float: right;
    }

        .sidebar-recruitment .text p:first-child {
            color: #333;
            padding: 10px 0 5px 0;
        }

        .sidebar-recruitment .text p:last-child {
            color: #4a4a4a;
        }

    .sidebar-recruitment .icon-hoaphat {
        width: 50px;
        height: 50px;
    }

    .sidebar-recruitment .icon-time {
        background-position: -233px -205px;
    }

    .sidebar-recruitment .icon-number {
        background-position: -308px -202px;
    }

    .sidebar-recruitment .icon-univer {
        background-position: -523px -97px;
    }

    .sidebar-recruitment .icon-maps {
        background-position: -446px -97px;
    }

    .sidebar-recruitment .icon-co {
        background-position: -362px -97px;
    }

    .sidebar-recruitment .item:last-child {
        border-bottom: none;
    }

#recruitment-detail h1.title {
    color: #333;
    font-size: 25px;
    line-height: 28px;
}

#recruitment-detail .time {
    color: #333;
    padding: 10px 0;
}

#recruitment-detail .time {
    color: #333;
    padding: 10px 0;
}

    #recruitment-detail .time i {
        padding-right: 5px;
    }

    #recruitment-detail .time .fa-clock-o {
        padding-left: 10px;
    }

.related-recruitment {
    margin-top: 30px;
}

    .related-recruitment .title {
        color: #333;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
    }

    .related-recruitment .time {
        display: inline;
        float: left;
    }

    .related-recruitment li {
        width: 100%;
        float: left;
        padding: 10px 0;
    }

        .related-recruitment li p:last-child {
            float: left;
            display: inline;
            padding: 10px 0 0 30px;
        }

        .related-recruitment li .icon-next {
            width: 20px;
            background-position: -342px -16px;
        }
