* {
    margin: 0;
    padding: 0;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, font, img, ol, ul, li, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

i {
    font-style: normal;
    font-weight: normal;
}

.clear {
    clear: both;
}

.clearfix {
    display: block;
}

    .clearfix:after {
        display: block;
        content: " ";
        clear: both;
    }

.text_white {
    color: #fff;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
    background: #fff;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

html {
    /*font-family: sans-serif;*/
}

ul {
    list-style-type: none;
}



input {
    outline: none;
}

select {
    outline: none;
}

textarea {
    outline: none;
}

.wrap {
    width: 1170px;
    margin: 0 auto;
}

.bold {
    font-weight: bold !important;
}

.default {
    width: 100%;
    float: left;
}
/* Scollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }

.css-content {
    font: 15px/22px 'Roboto', Helvetica, Arial,sans-senif;
    box-sizing: border-box;
}

    .css-content h1, .css-content h2, .css-content h3, .css-content h4, .css-content h5 {
        margin: 0.3em 0 0em;
        line-height: 24px !important;
    }

    .css-content a {
        color: #001dff;
    }

    .css-content figure.sudo-media-item {
        padding-bottom: 10px;
    }

    .css-content h1 {
        font: 700 24px/28px 'Roboto', Helvetica, Arial,sans-senif;
    }

    .css-content h2 {
        font: 700 20px/24px 'Roboto', Helvetica, Arial,sans-senif;
    }

    .css-content h3 {
        font: 700 18px/21px 'Roboto', Helvetica, Arial,sans-senif;
    }

.align-center {
    width: 100% !important;
    text-align: center;
}

.css-content em {
    font-style: italic;
}

    .css-content em strong {
        font-style: oblique;
    }

.css-content p {
    line-height: 24px;
    padding-top: 10px;
    color: #333;
}

.css-content table {
    max-width: 100%;
    margin: 0 auto 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

    .css-content table th, .css-content table td {
        border: 1px solid #ccc;
    }

.css-content ul, .css-content ul li {
    list-style-type: disc;
    margin-left: 10px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

    .css-content ul li {
        list-style-type: disc;
        margin-left: 30px;
        margin-bottom: 0.5em;
        line-height: 1.4em;
        color: #333;
    }

.css-content ol {
    list-style: decimal;
    padding: 0 0 0 15px;
    margin: 0;
}

    .css-content ol li {
        list-style-type: disc;
        margin-left: 30px;
        margin-bottom: 0.5em;
        line-height: 1.4em;
    }

.css-content img {
    max-width: 100%;
    height: auto;
}

.css-content blockquote {
    margin-left: 20px;
    font-style: italic;
}

.lg-outer .lg-thumb {
    margin: 0 auto !important;
}

.animated {
    animation-duration: 1.5s !important;
}

#header {
    height: 120px;
}

    #header .logo {
        width: 330px;
        float: left;
    }

    #header .search-nav {
        width: calc(100% - 330px);
        float: right;
        margin-top: 22px;
    }

    #header .social {
        width: 120px;
        float: right;
        padding-top: 3px;
    }

    #header .search {
        width: calc(100% - 120px);
        float: right;
        text-align: right;
        position: relative;
    }

        #header .search .fa-search {
            position: absolute;
            right: 15px;
            top: 8px;
            cursor: pointer;
            color: #e5e5e5;
            font-size: 16px;
        }

    #header .icon-search {
        background-position: -150px -10px;
        position: absolute;
        right: 2px;
        top: 0px;
        cursor: pointer;
    }

.icon-hoaphat {
    width: 30px;
    height: 30px;
    float: left;
    background-image: url('https://www.hoaphat.com.vn/assets/images/icon-hoaphat.png');
    background-repeat: no-repeat;
    background-position: -10px -10px;
}

#header .icon-yt {
    background-position: -57px -10px;
}

#header .icon-lg-en {
    background-position: -102px -10px;
}

#header .icon-hoaphat {
    margin-right: 5px;
    float: right;
}

#header .social li {
    text-align: right;
}

#header .icon-yt {
    width: 28px;
    height: 28px;
    background: #ff0000;
    float: right;
    border-radius: 50%;
    margin-right: 5px;
}

#header .icon-fb {
    width: 30px;
    height: 30px;
    background: #4267b2;
    float: right;
    border-radius: 50%;
    margin-right: 5px;
}

#header .social li i {
    color: #fff;
    line-height: 30px;
    text-align: center;
    position: relative;
    right: 10px;
    font-size: 16px;
}

#header .icon-yt i {
    font-size: 17px !important;
    right: 5px !important;
    bottom: 1px;
}

#header .social li:first-child i {
    margin-right: 0;
}

#header input {
    width: 320px;
    float: right;
    height: 34px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #666;
}

#header img {
    width: 280px;
    padding-top: 50px;
}

#header .navigation li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    height: 45px;
}

    #header .navigation li a {
        text-transform: uppercase;
        color: #000;
        font-weight: bold;
        font-size: 14px;
    }

    #header .navigation li:hover a {
        color: #04428c;
        transition: .3s;
    }

    #header .navigation li:hover .sub-menu a {
        color: #333;
    }

.sub-menu li:hover a {
    color: #04428c !important;
    padding-left: 5px;
    transition: .3s;
}

.sub-menu li:hover .sub-sub-menu a {
    color: #333 !important;
    padding-left: 0;
}

.sub-sub-menu li:hover a {
    padding-left: 5px !important;
    transition: .3s;
    color: #04428c !important;
}

#header .navigation li:last-child {
    margin-right: 0;
}

#header .navigation ul {
    text-align: right;
    padding-top: 20px;
}

#header .sub-menu {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #cecece;
    height: auto !important;
    opacity: 0;
    z-index: 9999;
    position: absolute;
    width: 240px;
    background-color: #fff;
    top: 80px;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: left !important;
    padding-top: 0 !important;
    padding: 5px 10px;
    box-sizing: border-box;
}

#header .sub-sub-menu {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #cecece;
    height: auto !important;
    opacity: 0;
    z-index: 9999;
    position: absolute;
    width: 240px;
    background-color: #fff;
    top: 0px;
    left: -260px;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: left !important;
    padding-top: 0 !important;
    padding: 5px 10px;
    box-sizing: border-box;
}

#header .sub-menu li {
    padding: 10px 0;
    height: auto;
    width: 100%;
}

    #header .sub-menu li a {
        line-height: 20px;
    }

#header .navigation li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 44px;
}

#header .sub-menu li:hover .sub-sub-menu {
    opacity: 1;
    visibility: visible;
    top: -1px;
}

#header.header-fix {
    height: 60px;
    position: fixed;
    top: 0;
    transition: all 0.2s;
    box-shadow: 0px 0px 15px 0px #333333;
    -webkit-box-shadow: 0px 0px 15px 0px #333333;
    -khtml-box-shadow: 0px 0px 15px 0px #333333;
    -moz-box-shadow: 0px 0px 15px 0px #333333;
    -ms-box-shadow: 0px 0px 15px 0px #333333;
    -o-box-shadow: 0px 0px 15px 0px #333333;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
    background: #fff;
}

    #header.header-fix .navigation ul {
        padding-top: 0px;
    }

    #header.header-fix .logo {
        width: 200px;
    }

        #header.header-fix .logo img {
            width: 200px;
            padding-top: 14px;
        }

    #header.header-fix .search-nav {
        margin-top: 16px;
    }

#slides-home {
    width: 100%;
    float: left;
    overflow: hidden;
    box-shadow: 0 3px 5px #ddd;
    position: relative;
}

    #slides-home .text {
        position: absolute;
        color: #fff;
        margin-left: calc((100% - 1170px) / 2);
        z-index: 10;
        top: 40px;
    }

    #slides-home div.name {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

        #slides-home div.name i {
            padding-right: 5px;
        }

    #slides-home .text p.p1 {
        font-size: 35px;
        font-weight: bold;
        width: 500px;
        padding-bottom: 10px;
        position: relative;
    }
    /* #slides-home .text p:first-child:before{
    content: "";
    border-bottom: 2px solid #fff;
    position: absolute;
    bottom: 10px;
    width: 200px;
} */
    #slides-home .text p {
        color: #fff;
        font-size: 18px;
        width: 700px;
    }

    #slides-home img {
        width: 100%;
        float: left;
    }

#home-slider-thumbnail {
    overflow: hidden;
}

.slider-thumbnail {
    width: 100%;
    float: left;
    box-shadow: 0 3px 5px #ddd;
    z-index: 10;
    background: #fff;
}

    .slider-thumbnail .item {
        text-align: center;
        line-height: 60px;
        float: left;
        width: 100%;
        position: relative;
        margin-right: 40px;
        cursor: pointer;
    }

#slides-home .bottom {
    width: 100%;
    float: left;
    height: 10px;
    background: #fff;
}

.slider-thumbnail .owl-item {
    width: auto !important;
}

.slider-thumbnail .active .item a {
    background: #e5e5e5;
    color: #0098d2;
}

.slider-thumbnail .item a {
    display: block;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

#news-event {
    margin-top: 30px;
}

.title-news-event {
    background: #0098d2;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    float: left;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
}

    .title-news-event a {
        color: #fff;
    }

    .title-news-event:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-left: 35px solid #0098d2;
        right: -35px;
        top: 0px;
    }

#news-event .left {
    height: 715px;
    width: 370px;
    float: left;
    background: #ededed;
    padding-bottom: 20px;
    position: relative;
}

    #news-event .left .image {
        width: 100%;
        float: left;
        overflow: hidden;
    }

    #news-event .left img {
        width: 100%;
        float: left;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }

    #news-event .left .image:hover img {
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
    }

    #news-event .left a:hover {
        color: #1d428a;
        transition: .5s;
    }

    #news-event .left h3 a {
        color: #333;
        line-height: 35px;
        font-size: 26px;
    }

    #news-event .left h3 {
        position: relative;
        clear: both;
        padding: 10px 10px 60px;
        float: left;
        width: 100%;
        box-sizing: border-box;
    }

        #news-event .left h3:before {
            content: "";
            position: absolute;
            border-bottom: 1px solid #333;
            width: 70px;
            bottom: 35px;
        }

    #news-event .left .p1 {
        width: 100%;
        float: left;
        padding: 0 10px;
        box-sizing: border-box;
    }

        #news-event .left .p1 a {
            color: #333;
            font-weight: bold;
            text-transform: uppercase;
        }

    #news-event .left ul {
        clear: both;
        width: 100%;
        float: left;
        padding-left: 15px;
        box-sizing: border-box;
        padding-top: 10px;
    }

    #news-event .left li {
        padding: 5px 10px 10px 15px;
        position: relative;
        line-height: 20px;
    }

        #news-event .left li::before {
            content: "â€¢";
            position: absolute;
            font-size: 20px;
            color: #333;
            top: 5px;
            left: 0px;
        }

        #news-event .left li a {
            color: #333;
        }

    #news-event .left .p2 {
        float: right;
        padding: 22px 10px 0 0;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }

        #news-event .left .p2 a {
            color: #333;
            text-transform: uppercase;
            font-weight: bold;
        }

        #news-event .left .p2 i {
            font-size: 30px;
            position: relative;
            top: 5px;
            padding-left: 10px;
        }

#news-event .right {
    width: 770px;
    float: right;
}

#news-event .top-left {
    width: 350px;
    float: left;
    height: 420px;
    overflow: hidden;
}

    #news-event .top-left img {
        width: 100%;
        float: left;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }

    #news-event .top-left:hover img {
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
    }

#news-event .top-right {
    width: 420px;
    float: left;
    background: #05428c;
    padding: 20px;
    box-sizing: border-box;
}

    #news-event .top-right .title {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 0 30px;
        font-size: 16px;
    }

    #news-event .top-right li {
        line-height: 20px;
        width: 50%;
        float: left;
        position: relative;
        padding: 5px 0;
    }

        #news-event .top-right li i {
            width: 20px;
            background-position: -342px -24px;
        }

        #news-event .top-right li a {
            color: #fff;
        }

            #news-event .top-right li a:hover {
                color: #0098d2;
            }

    #news-event .top-right ul {
        width: 100%;
        float: left;
        height: 210px;
    }

#news-event .pdf-item {
    width: 25%;
    float: left;
}

    #news-event .pdf-item:hover p {
        color: #0098d2;
    }

    #news-event .pdf-item i {
        background-position: -285px -10px;
        width: 40px;
        height: 60px;
        margin-left: 25.5px;
    }

    #news-event .pdf-item p {
        clear: both;
        text-align: center;
        color: #fff;
    }

#news-event .right .top {
    margin-bottom: 30px;
}

#news-event .bottom-left {
    width: 350px;
    float: left;
    position: relative;
    background: #336699;
}

#news-event .bottom-right {
    width: calc(100% - 380px);
    float: right;
    position: relative;
}

    #news-event .bottom-right img {
        width: 100%;
        float: left;
    }

    #news-event .bottom-right .play-video {
        width: 100px;
        position: absolute;
        left: 145px;
        cursor: pointer;
        top: 90px;
    }

#news-event .bottom-left .fb {
    width: 80px;
    height: 200px;
    float: left;
    background: #336699;
}

    #news-event .bottom-left .fb i {
        color: #fff;
        font-size: 45px;
        position: absolute;
        bottom: -3px;
        left: 28px;
    }

#news-event .bottom-left .image {
    width: calc(100% - 80px);
    float: left;
    overflow: hidden;
}

#news-event .bottom-left img {
    width: 100%;
    float: left;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

#news-event .bottom-left:hover img {
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
}

#news-event .bottom-left .text {
    position: absolute;
    top: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

    #news-event .bottom-left .text i {
        background-position: -172px -75px;
        width: 100px;
        height: 100px;
    }

    #news-event .bottom-left .text a {
        color: #05428c;
        text-transform: uppercase;
        font-weight: bold;
        float: right;
        width: calc(100% - 110px);
        padding-top: 35px;
        line-height: 18px;
    }

#news-event .bottom-right iframe {
    width: 100%;
    height: 284.67px;
}

#about-hoaphat {
    margin-top: 30px;
    padding: 20px 0;
    background-image: url('../images/background1.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
}

    #about-hoaphat .left {
        width: 600px;
        float: left;
    }

    #about-hoaphat .right {
        width: calc(100% - 900px);
        float: left;
        margin-left: 100px;
        padding-top: 170px;
    }

    #about-hoaphat .item {
        border-bottom: 1px solid #333;
        padding: 20px 0;
        width: 100%;
        float: left;
    }

        #about-hoaphat .item:nth-child(2n+2) {
            text-align: right;
        }

        #about-hoaphat .item:last-child {
            border-bottom: none;
        }

        #about-hoaphat .item .title {
            color: #333;
            font-size: 25px;
        }

        #about-hoaphat .item div {
            color: #333;
            font-size: 45px;
            padding-top: 10px;
        }

        #about-hoaphat .item span {
            font-size: 25px;
        }

        #about-hoaphat .item i.icon-next {
            width: 40px;
            height: 50px;
            background-position: -305px -102px;
        }

        #about-hoaphat .item i.icon-prev {
            float: right;
            width: 40px;
            height: 50px;
            background-position: -224px -5px;
        }

        #about-hoaphat .item ul {
            width: 100%;
            float: left;
            padding-top: 20px;
        }

        #about-hoaphat .item li {
            font-size: 20px;
            float: left;
            display: inline;
            font-weight: bold;
            margin-right: 20px;
            color: #333;
        }

    #about-hoaphat .icon-next-small {
        background-position: -203px -10px;
        width: 40px;
        height: 40px;
        position: relative;
        bottom: 4px;
    }

    #about-hoaphat .right .title {
        color: #0e95c9;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 20px;
    }

    #about-hoaphat .right ul {
        width: 100%;
        float: left;
        padding-left: 40px;
    }

    #about-hoaphat .right li {
        width: 130px;
        float: left;
        padding: 5px 0;
        list-style-type: disc;
        font-weight: bold;
    }

#quality {
    margin: 30px 0;
}

    #quality .left {
        width: 520px;
        float: left;
    }

        #quality .left .item {
            width: 160px;
            height: 170px;
            float: left;
            border: 1px solid #ebebeb;
            box-sizing: border-box;
            border-radius: 8px;
            margin: 0 auto;
            position: relative;
            margin-bottom: 20px;
            cursor: pointer;
            overflow: hidden;
        }

            #quality .left .item img {
                max-height: 160px;
                max-width: 150px;
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
            }

            #quality .left .item:hover img {
                transform: scale(1.2,1.2);
                -webkit-transform: scale(1.2,1.2);
                -moz-transform: scale(1.2,1.2);
                -o-transform: scale(1.2,1.2);
                -ms-transform: scale(1.2,1.2);
            }

            #quality .left .item:nth-child(3n+2) {
                margin: 0 20px;
            }

    #quality .title {
        width: 100%;
        color: #333;
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 5px;
        float: left;
    }

        #quality .title i {
            background-position: -342px -22px;
            width: 20px;
        }

    #quality .right {
        width: calc(100% - 580px);
        float: right;
    }

        #quality .right .video {
            width: 100%;
            float: left;
            position: relative;
        }

            #quality .right .video img {
                width: 100%;
                float: left;
            }

            #quality .right .video .play-video {
                width: 100px;
                position: absolute;
                top: 160px;
                cursor: pointer;
                left: 245px;
            }

        #quality .right .box {
            width: 100%;
            float: left;
            border-radius: 0 0 20px 20px;
            box-shadow: -2px 2px 5px #4e4e4e;
            padding: 15px;
            box-sizing: border-box;
            position: relative;
            top: -60px;
            background-color: #0e95c9; /* For browsers that do not support gradients */
            background-image: -webkit-linear-gradient(#0e95c9, #1068a4);
            background-image: -o-linear-gradient(#0e95c9, #1068a4);
            background-image: linear-gradient(#0e95c9, #1068a4); /* Standard syntax (must be last) */
        }

        #quality .right .tech {
            margin-top: 25px;
        }

    #quality .box i {
        width: 140px;
        height: 140px;
        background-position: -15px -55px;
        padding-right: 20px;
    }

    #quality .right .box p {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        padding-top: 45px;
    }

    #quality .show-more {
        color: #333;
        position: relative;
        top: -10px;
        float: right;
        font-weight: bold;
        text-transform: uppercase;
    }

        #quality .show-more i {
            padding-left: 5px;
            position: relative;
            top: 0px;
        }

#news-home {
    background-image: url('../images/background2.png');
    background-repeat: repeat;
    padding: 30px 0;
}

    #news-home .content {
        background: #fff;
        padding: 20px 20px 30px;
        box-sizing: border-box;
    }

    #news-home .col {
        width: 350px;
        float: left;
    }

        #news-home .col:nth-child(2) {
            margin: 0 40px;
        }

    #news-home .image {
        width: 100%;
        float: left;
        height: 250px;
        overflow: hidden;
    }

    #news-home img {
        width: 100%;
        float: left;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }

    #news-home .item-news:hover img {
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
    }

    #news-home .item-news .time {
        color: #333;
        clear: both;
        padding: 10px 0;
    }

    #news-home .item-news h3 a {
        color: #333;
        line-height: 25px;
        font-size: 20px;
        height: 52px;
        float: left;
        width: 100%;
        overflow: hidden;
    }

    #news-home .item-news h3:hover a {
        color: #1d428a;
        transition: .5s;
    }

    #news-home .item-news .info {
        color: #333;
        line-height: 20px;
        float: left;
        padding: 10px 0 20px;
        height: 40px;
        overflow: hidden;
        margin-bottom: 10px;
    }

    #news-home .item-news i.fa-long-arrow-right {
        color: #1d428a;
        float: left;
        font-size: 16px;
    }

    #news-home .item-news ul {
        text-align: right;
    }

    #news-home .item-news li {
        display: inline;
        margin: 0 8px;
    }

        #news-home .item-news li i {
            color: #333;
        }

    #news-home .box-said {
        padding: 40px 30px 20px 50px;
        box-sizing: border-box;
        margin-top: 40px;
        position: relative;
        border-radius: 4px 0 0 0;
    }

        #news-home .box-said:before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-bottom: 15px solid transparent;
            border-left: 15px solid #0092c9;
            border-top: 1px solid #0092c9;
            bottom: -12px;
            left: 0px;
        }

    #news-home .col:nth-child(1) .box-said {
        background: #0092c9;
    }

    #news-home .col:nth-child(2) .box-said {
        background: #f9b10a;
        margin-top: 0;
        margin-bottom: 40px;
    }

        #news-home .col:nth-child(2) .box-said:before {
            border-left: 15px solid #f9b10a;
            border-top: 1px solid #f9b10a;
        }

    #news-home .col:nth-child(3) .box-said {
        background: #b2db17;
    }

        #news-home .col:nth-child(3) .box-said:before {
            border-left: 15px solid #b2db17;
            border-top: 1px solid #f9b10a;
        }

    #news-home .content-said {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        padding-bottom: 15px;
    }

    #news-home p.name, #news-home p.position {
        text-align: right;
        padding: 4px 0;
        color: #fff;
    }

#footer {
    background: #1d428a;
    padding: 60px 0 70px;
    position: relative;
    overflow: hidden;
}

    #footer .background-left {
        position: absolute;
        top: -20px;
        left: 0;
    }

    #footer .background-right {
        position: absolute;
        top: -20px;
        right: 0;
    }

    #footer .col {
        width: 25%;
        float: left;
        position: relative;
        z-index: 10;
    }

    #footer .col1 {
        width: 100%;
        float: left;
    }

        #footer .col1 i.icon-hoaphat {
            width: 200px;
            height: 120px;
            background-position: -20px -210px;
        }

        #footer .col1 a {
            width: 25%;
            float: left;
        }

        #footer .col1 p {
            width: 50%;
            float: left;
            color: #fff;
            padding-bottom: 20px;
            line-height: 20px;
            display: inline;
            padding-top: 55px;
        }

            #footer .col1 p i {
                padding-right: 5px;
                font-size: 16px;
                color: #fff;
            }

        #footer .col1 ul {
            text-align: center;
            margin-left: 80px;
        }

        #footer .col1 li {
            display: inline;
            float: left;
            margin-right: 10px;
            margin-top: 48px;
        }

            #footer .col1 li a {
                width: 30px;
                height: 30px;
                border: 1px solid #fff;
                border-radius: 50%;
                float: left;
            }

            #footer .col1 li i {
                color: #fff;
                text-align: center;
                line-height: 30px;
            }

    #footer .col .title {
        color: #fff;
        font-weight: bold;
        padding-bottom: 30px;
    }

    #footer .col2 li {
        color: #fff;
        line-height: 20px;
        padding-bottom: 15px;
    }

        #footer .col2 li i {
            color: #fff;
            padding-right: 10px;
            font-size: 16px;
        }

    #footer .col2 {
        box-sizing: border-box;
    }

#footer-bottom {
    background: #143678;
    height: 50px;
}

    #footer-bottom .left, #footer-bottom .right {
        width: 50%;
        float: left;
    }

        #footer-bottom .right a {
            float: right;
            color: #fff;
            margin-top: 18px;
            padding-left: 40px;
        }

    #footer-bottom p {
        line-height: 50px;
        color: #fff;
    }

        #footer-bottom p span {
            color: #0092c9;
        }

#banner-product {
    position: relative;
}

    #banner-product img {
        width: 100%;
        float: left;
    }

    #banner-product h3 {
        position: absolute;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        top: 70px;
    }

#products {
    margin-top: 50px;
}

.item-product {
    width: 350px;
    float: left;
    margin-bottom: 50px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: -1px 1px 5px #d4d4d4;
}

    .item-product:nth-child(3n+2) {
        margin: 0 60px;
    }

    .item-product .image, .item-product img {
        width: 100%;
        height: 250px;
        float: left;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }

    .item-product:hover img {
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
    }

    .item-product .image {
        height: 250px;
        overflow: hidden;
    }

    .item-product h3 {
        clear: both;
        padding: 10px 0;
    }

        .item-product h3 a {
        }

        .item-product h3 i {
            background-position: -330px -25px;
        }

#contacts iframe {
    width: 100%;
    float: left;
    height: 500px;
}

#contacts {
    margin-top: 50px;
}

    #contacts .left {
        width: 50%;
        float: left;
        padding-right: 50px;
        box-sizing: border-box;
    }

    #contacts .right {
        width: 50%;
        float: left;
    }

.title-contact {
    color: #333;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#contacts .item {
    width: 100%;
    float: left;
    margin-top: 20px;
}

    #contacts .item p {
        color: #333;
        line-height: 20px;
        padding: 5px 0;
    }

#contacts .title {
    color: #333 !important;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#contacts .item p.phone {
    display: inline;
    float: left;
    padding-right: 50px;
}

#contacts .item p i {
    font-size: 16px;
    padding-right: 5px;
}

#contacts .right .title-contact {
    text-align: center;
}

#contacts .top {
    padding-bottom: 50px;
}

#contacts .form-inline {
    width: 100%;
    float: left;
    margin-top: 15px;
}

#contacts .right input {
    height: 50px;
    float: left;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ddd;
}

    #contacts .right input::placeholder {
        color: #333;
        font-size: 14px;
    }

#contacts .right textarea::placeholder {
    color: #333;
    font-size: 14px;
}

#contacts .right input.error {
    border: 1px solid red;
}

#contacts .right textarea.error {
    border: 1px solid red;
}

#contacts input[name="email"] {
    width: calc(50% - 10px);
    float: left;
}

#contacts input[name="phone"] {
    width: calc(50% - 10px);
    float: right;
}

#contacts textarea {
    font-family: 'Roboto', Helvetica, Arial,sans-senif;
    font-size: 16px;
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

#contacts input[type="submit"] {
    color: #fff;
    text-transform: uppercase;
    background: #00aaea;
    font-weight: bold;
    border: 1px solid #00aaea;
    font-size: 14px;
    cursor: pointer;
}

#infomation {
    margin: 50px 0;
}

    #infomation h1.title {
        color: #333;
        font-size: 25px;
        display: inline;
        float: left;
    }

    #infomation .filter {
        float: right;
        color: #333;
        padding-top: 2px;
    }

        #infomation .filter select {
            height: 30px;
            width: 100px;
            padding-left: 5px;
            color: #333;
        }

    #infomation .content {
        margin-top: 20px;
    }

    #infomation .item {
        width: 100%;
        float: left;
        padding: 10px 0;
        border-bottom: 1px solid #ededed;
    }

        #infomation .item.item-child {
            width: 95%;
            margin-left: 5%;
        }

        #infomation .item.item-parent {
            border-bottom: none;
            cursor: pointer;
        }

    #infomation .group-child {
        width: 100%;
        float: left;
        display: none;
    }

    #infomation .item .icon {
        width: 80px;
        float: left;
    }

    #infomation .download {
        width: 200px;
        float: right;
    }

        #infomation .download a {
            color: #fff;
            background-color: #008fc9;
            background-image: -webkit-linear-gradient(#008fc9, #005397);
            background-image: -o-linear-gradient(#008fc9, #005397);
            background-image: linear-gradient(#008fc9, #005397);
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 12px 25px;
            border-radius: 8px;
            float: right;
            margin-top: 8px;
        }

    #infomation .time {
        width: 200px;
        float: left;
        color: #0098d2;
        text-align: center;
        padding-top: 16px;
    }

    #infomation .name {
        width: calc(100% - 480px);
        float: left;
    }

        #infomation .name a {
            color: #000;
            font-weight: bold;
            font-size: 16px;
            padding-top: 12px;
            float: left;
        }

    #infomation .icon i {
        background-position: -27px -332px;
        width: 80px;
        height: 60px;
    }

#annual-report {
    margin: 50px 0;
}

    #annual-report .item-report {
        width: 255px;
        float: left;
        padding-bottom: 30px;
    }

        #annual-report .item-report:nth-child(4n+4) {
            float: right;
        }

        #annual-report .item-report:nth-child(4n+2) {
            margin: 0 50px;
        }

        #annual-report .item-report .image {
            width: 100%;
            float: left;
            height: 360px;
            overflow: hidden;
        }

        #annual-report .item-report img {
            width: 100%;
            float: left;
        }

        #annual-report .item-report h3 {
            color: #333;
            padding: 10px 0;
            line-height: 20px;
            clear: both;
        }

#support {
    margin: 50px 0;
}

    #support h1.title {
        color: #333;
        font-size: 25px;
        text-transform: uppercase;
        padding-bottom: 30px;
    }

    #support .content {
        border: 1px dotted #0092c9;
        background: #ededed;
        padding: 50px 100px;
        box-sizing: border-box;
    }

    #support div.title {
        color: #333;
        font-weight: bold;
        padding: 20px 0;
    }

        #support div.title i {
            width: 50px;
            height: 50px;
            background-position: -107px -346px;
            position: relative;
            bottom: 20px;
            padding-right: 10px;
        }

    #support .form-inline {
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }

        #support .form-inline input[type="text"] {
            width: calc(50% - 10px);
            float: left;
            height: 55px;
            padding-left: 10px;
            font-size: 16px;
            box-sizing: border-box;
            border: 1px solid #555;
        }

        #support .form-inline input.error {
            border: 1px solid red;
        }

        #support .form-inline textarea.error {
            border: 1px solid red;
        }

        #support .form-inline input:last-child {
            float: right;
        }

        #support .form-inline textarea {
            width: 100%;
            float: left;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #555;
            font-family: 'Roboto', Helvetica, Arial,sans-senif;
            font-size: 16px;
            height: 150px;
        }

    #support .send-form {
        clear: both;
        float: right;
        color: #fff;
        background: #0092c9;
        text-transform: uppercase;
        font-weight: bold;
        padding: 12px 30px;
    }

    #support .hotline {
        clear: both;
        padding: 35px 0;
    }

        #support .hotline .title {
            font-size: 18px;
            text-transform: uppercase;
            color: #0072a9;
            font-weight: 600;
        }

        #support .hotline .hotline_hepl {
            padding: 10px 0px;
            font-size: 17px;
        }

        #support .hotline .phone {
            font-size: 20px;
            color: #fe9900;
            font-weight: 700;
            padding-bottom: 5px;
        }

        #support .hotline .phone {
            font-size: 20px;
            color: #fe9900;
            font-weight: 700;
            padding-bottom: 5px;
        }

#corporation {
    margin: 0 0 50px 0;
}

    #corporation .box-about .image {
        width: 570px;
        float: left;
    }

    #corporation .box-about img {
        width: 100%;
        float: left;
    }

    #corporation .box-about {
        background-position-y: -120px;
        background-image: url('../images/background-van-hoa-doanh-nghiep.png');
        background-position: right;
        height: 280px;
        background-repeat: no-repeat;
    }

        #corporation .box-about .text:first-child {
            padding-top: 50px;
        }

        #corporation .box-about .text {
            width: 700px;
            float: left;
            padding-top: 20px;
            box-sizing: border-box;
            color: #333;
            font-weight: bold;
            font-size: 16px;
            line-height: 30px;
        }

    #corporation .time {
        color: #333;
        padding-bottom: 10px;
    }

        #corporation .time i {
            padding-right: 5px;
        }

        #corporation .time .fa-clock-o {
            padding-left: 10px;
        }

    #corporation .box-about h3 {
        padding-bottom: 15px;
    }

        #corporation .box-about h3 a {
            color: #333;
            font-size: 25px;
            line-height: 30px;
        }

    #corporation .box-about .info p {
        line-height: 22px;
        color: #333;
        padding-bottom: 10px;
    }

    #corporation .show-more {
        text-transform: uppercase;
        color: #333;
        font-weight: bold;
        float: right;
    }

        #corporation .show-more i {
            font-size: 18px;
            position: relative;
            top: 1px;
            padding-left: 5px;
        }

    #corporation .partner {
        margin-top: 30px;
    }

    #corporation .society {
        margin-top: 30px;
    }

    #corporation .internal {
        margin-top: 30px;
    }

    #corporation .society .left {
        width: 570px;
        float: left;
    }

    #corporation .society .right {
        width: 570px;
        float: right;
    }

    #corporation .society .content {
        background: #ededed;
        padding-bottom: 20px;
    }

    #corporation .society .title {
        color: #333;
        font-size: 16px;
        font-weight: bold;
    }

        #corporation .society .title i {
            background-position: -342px -25px;
            width: 20px;
        }

    #corporation .society img {
        width: 100%;
        float: left;
    }

    #corporation .society .time {
        padding: 10px 20px;
    }

    #corporation .society h3 {
        padding: 0 20px;
    }

        #corporation .society h3 a {
            color: #333;
            font-size: 20px;
            line-height: 25px;
        }

    #corporation .society .intro {
        color: #333;
        line-height: 20px;
        text-align: justify;
        padding: 10px 20px;
    }

    #corporation .society .list-post {
        border-top: 1px solid #ddd;
        margin: 10px 20px;
        box-sizing: border-box;
        padding-top: 20px;
        padding-left: 20px;
    }

        #corporation .society .list-post a {
            color: #333;
        }

    #corporation .society li {
        line-height: 20px;
        padding-bottom: 10px;
        list-style-type: disc;
    }

    #corporation .society .show-more {
        padding-right: 20px;
    }

#certificate-quality {
    margin-top: 30px;
}

.item-certificate {
    width: 370px;
    float: left;
    background: #ededed;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

    .item-certificate:nth-child(3n+1) {
        clear: both;
    }

    .item-certificate:nth-child(3n+2) {
        margin: 0 30px;
    }

    .item-certificate .item {
        width: 90px;
        height: 90px;
        background: #fff;
        border-radius: 12px;
        position: relative;
        margin: 0 auto;
        float: left;
        cursor: pointer;
        margin-bottom: 20px;
    }

        .item-certificate .item:nth-child(3n+2) {
            margin: 0 20px;
        }

        .item-certificate .item img {
            margin: auto;
            max-width: 80px;
            max-height: 80px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

#certificate-quality div.title {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    float: left;
}

    #certificate-quality div.title i {
        background-position: -342px -25px;
        width: 20px;
    }

.item-certificate .show-more {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    float: right;
    font-size: 12px;
    clear: both;
}

    .item-certificate .show-more i {
        font-size: 16px;
        position: relative;
        top: 1px;
        padding-left: 5px;
    }

.tech-item {
    width: 570px;
    float: left;
}

    .tech-item:nth-child(2n+1) {
        clear: both;
    }

    .tech-item.video-tech {
        position: relative;
        margin-top: 35px;
    }

        .tech-item.video-tech img {
            width: 100%;
            float: left;
        }

        .tech-item.video-tech .play-video {
            width: 100px;
            position: absolute;
            top: 150px;
            left: calc((100% - 100px) / 2);
            cursor: pointer;
        }

        .tech-item.video-tech h3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            float: left;
            padding: 15px;
            color: #fff;
            box-sizing: border-box;
        }

            .tech-item.video-tech h3:before {
                display: block;
                content: ' ';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                background: rgba(0,0,0,0.3);
                left: 0;
                bottom: 0;
            }

            .tech-item.video-tech h3 span {
                color: #fff;
                position: relative;
                z-index: 10;
            }

.content-tech-item {
    margin-bottom: 30px;
    background: #ededed;
    padding-bottom: 20px;
    height: 350px;
    position: relative;
}

.tech-item:nth-child(2n+2) {
    float: right;
}

.tech-item li:first-child {
    width: 100%;
    float: left;
    padding-bottom: 20px;
}

    .tech-item li:first-child .image {
        width: 230px;
        float: left;
        max-height: 145px;
        overflow: hidden;
    }

    .tech-item li:first-child img {
        width: 100%;
        float: left;
    }

    .tech-item li:first-child .infomation {
        width: calc(100% - 250px);
        padding-right: 20px;
        box-sizing: border-box;
        float: right;
    }

    .tech-item li:first-child .time {
        color: #333;
        padding: 10px 0;
    }

        .tech-item li:first-child .time i {
            padding-right: 5px;
        }

    .tech-item li:first-child h3 {
        color: #333;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 5px;
        height: 40px;
        overflow: hidden;
    }

    .tech-item li:first-child .info {
        color: #333;
        line-height: 22px;
        height: 66px;
        overflow: hidden;
        text-align: justify;
    }

.tech-item li:nth-child(2) {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

    .tech-item li:nth-child(2):before {
        top: 12px !important;
    }

.tech-item li:nth-child(n+2) {
    clear: both;
    margin: 15px 20px;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
}

    .tech-item li:nth-child(n+2):before {
        content: "â€¢";
        position: absolute;
        font-size: 25px;
        color: #333;
        top: -8px;
        left: 0px;
    }

    .tech-item li:nth-child(n+2) a {
        color: #333;
        line-height: 20px;
    }

.tech-item .show-more {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    float: right;
    padding-right: 20px;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    right: 0;
}

    .tech-item .show-more i {
        font-size: 16px;
        position: relative;
        top: 1px;
        padding-left: 5px;
    }

#prize {
    background: #ededed;
    padding: 30px 0;
    margin-top: 20px;
    position: relative;
}

.prize-item {
    width: 270px;
    float: left;
    background: #fff;
    margin-right: 10px;
}

    .prize-item .image {
        width: 100%;
        height: 180px;
        margin: 0 auto;
        position: relative;
    }

    .prize-item img {
        max-width: 95%;
        max-height: 170px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .prize-item p {
        padding: 10px 20px;
        line-height: 20px;
        border-top: 1px solid #ddd;
        color: #333;
        font-weight: bold;
    }

#prize i.fa {
    color: #0098d2;
    font-size: 25px;
    position: absolute;
    top: 95px;
    cursor: pointer;
    z-index: 10;
}

#prize i.fa-chevron-left {
    left: -25px;
}

#prize i.fa-chevron-right {
    right: -25px;
}

#tab-about {
    background: #fff;
    box-shadow: 0px 4px 5px #ddd;
    height: 60px;
    margin-bottom: 20px;
}

    #tab-about.fixed {
        position: fixed;
        top: 0;
        z-index: 100;
    }

    #tab-about li {
        display: inline-block;
        line-height: 60px;
        padding: 0 20px;
    }

        #tab-about li a {
            display: block;
            color: #333;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
        }

        #tab-about li.active {
            background: #e5e5e5;
        }

            #tab-about li.active a {
                color: #0098d2;
            }
/* #tab-about li.active:before{
    position: absolute;
    content: url(../images/active-right-about.png);
    right: 0;
    top: 0;
} */
/* #tab-about li.active:after{
    position: absolute;
    content: url(../images/active-left-about.png);
    left: -56px;
    top: 0;
} */
#about-general {
    margin-top: 30px;
}

    #about-general .left {
        width: 670px;
        float: left;
    }

    #about-general .right {
        width: 450px;
        float: right;
    }

        #about-general .right img {
            width: 100%;
            float: left;
            padding-bottom: 10px;
        }

        #about-general .right p {
            clear: both;
            text-align: center;
            padding: 2px 0;
            color: #171717;
            text-transform: uppercase;
            font-size: 16px;
        }

    #about-general .box {
        background: #ebebeb;
        padding: 30px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

        #about-general .box i {
            width: 80px;
            height: 50px;
            background-position: -380px -209px;
        }

        #about-general .box p {
            color: #333;
            font-size: 28px;
            font-weight: bold;
            font-style: italic;
        }

    #about-general .content p {
        color: #333;
        line-height: 22px;
        padding-bottom: 15px;
        font-size: 15px;
    }

#mission {
    
    background-image: url('https://www.hoaphat.com.vn/assets/images/background5.png');
    background-repeat: no-repeat;
    
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 5px;
}

    #mission i {
        width: 40px;
        height: 50px;
        background-position: -305px -102px;
        position: absolute;
        top: 14px;
        left: 120px;
    }

    #mission .item {
        clear: both;
        width: 520px;
        margin: 0 auto;
        padding-top: 20px;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

        #mission .item:before {
            content: "";
            position: absolute;
            border-bottom: 1px solid #000;
            width: 280px;
            height: 20px;
            bottom: 0;
            left: 120px;
        }

        #mission .item p {
            text-align: center;
        }

            #mission .item p.title {
                color: #000;
                font-size: 28px;
                font-weight: bold;
                text-transform: uppercase;
                padding-bottom: 20px;
            }

            #mission .item p:last-child {
                font-size: 15px;
                line-height: 22px;
                color: #3a3a3a;
            }

#history {
    margin-top: 30px;
}

    #history .left {
        width: 670px;
        float: left;
    }

    #history .right {
        width: 450px;
        float: right;
    }

        #history .right img {
            width: 100%;
            float: left;
            padding-bottom: 10px;
        }

        #history .right p {
            clear: both;
            text-align: center;
            padding: 2px 0;
            color: #171717;
            text-transform: uppercase;
            font-size: 16px;
        }

    #history .box {
        background: #ebebeb;
        padding: 30px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

        #history .box i {
            width: 80px;
            height: 50px;
            background-position: -380px -209px;
        }

        #history .box p {
            color: #333;
            font-size: 28px;
            font-weight: bold;
            font-style: italic;
        }

    #history .content p {
        color: #333;
        line-height: 22px;
        padding-bottom: 15px;
        font-size: 15px;
    }
#maps-about {
    margin-top: 30px;
}

    #maps-about .right {
        width: 670px;
        float: left;
    }

    #maps-about .left {
        width: 450px;
        float: right;
    }

        #maps-about .left img {
            width: 100%;
            float: left;
            padding-bottom: 10px;
        }

        #maps-about .left p {
            clear: both;
            text-align: center;
            padding: 2px 0;
            color: #171717;
            text-transform: uppercase;
            font-size: 16px;
        }

    #maps-about .box {
        background: #ebebeb;
        padding: 30px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

        #maps-about .box i {
            width: 80px;
            height: 50px;
            background-position: -380px -209px;
        }

        #maps-about .box p {
            color: #333;
            font-size: 28px;
            font-weight: bold;
            font-style: italic;
        }

    #maps-about .content p {
        color: #333;
        line-height: 22px;
        padding-bottom: 15px;
        font-size: 15px;
    }

#company-members {
    padding: 30px 0;
    background: #ebebeb;
}

    #company-members li {
        width: 370px;
        float: left;
        margin-bottom: 30px;
    }

        #company-members li:nth-child(3n+2) {
            margin: 0 30px;
        }

        #company-members li .image {
            width: 100%;
            float: left;
            position: relative;
            height: 205px;
            overflow: hidden;
        }

        #company-members li img {
            width: 100%;
            float: left;
        }

        #company-members li h3 {
            clear: both;
            color: #fff;
            padding: 10px 20px;
            box-sizing: border-box;
            line-height: 20px;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            z-index: 10;
            width: 100%;
            float: left;
        }

            #company-members li h3:before {
                display: block;
                content: ' ';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                background: rgba(0,0,0,0.6);
                left: 0;
                bottom: 0;
            }

            #company-members li h3 a {
                color: #fff;
                position: relative;
                z-index: 10;
            }

    #company-members .show-more {
        text-align: center;
        clear: both;
    }

        #company-members .show-more a {
            color: #333;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }

        #company-members .show-more i {
            font-size: 22px;
            color: #333;
            padding-left: 5px;
            position: relative;
            top: 2px;
        }

.pagination {
    width: 100%;
    float: right;
    text-align: center;
    margin-top: 20px;
}

    .pagination li {
        display: inline;
        border-bottom: none !important;
        border-top: none !important;
        font-size: 16px;
        padding: 0 !important;
        margin: 0 10px;
    }

        .pagination li:first-child, .pagination li:first-child a {
            font-size: 20px;
        }

        .pagination li:last-child, .pagination li:last-child a {
            font-size: 20px;
        }

    .pagination ul {
        float: right;
    }

ul.pagination li.active {
    border-radius: 50%;
    border: 1px solid #00bcd4 !important;
    width: 35px !important;
    height: 35px !important;
    line-height: 35px;
    text-align: center;
}

    ul.pagination li.active span {
        color: #00bcd4;
    }

ul.pagination li {
    display: inline-block;
    width: auto !important;
    float: unset !important;
}

    ul.pagination li a {
        display: inline-block;
        color: #666;
        font-size: 16px;
    }

    ul.pagination li.disabled {
        padding: 5px 12px;
        color: #666;
    }

.alert-success {
    background: #26B99A;
    border: 1px solid #169F85;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.icon-fix {
    position: fixed;
    z-index: 9999;
}

.icon-fix-right {
    right: 10px;
    bottom: 20px;
}

    .icon-fix-right .item {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin-bottom: 10px;
        background: #ffffff;
        position: relative;
        box-shadow: 0 0px 5px 3px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 0px 5px 3px rgba(0,0,0,0.2);
        -khtml-box-shadow: 0 0px 5px 3px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0px 5px 3px rgba(0,0,0,0.2);
        -ms-box-shadow: 0 0px 5px 3px rgba(0,0,0,0.2);
        -o-box-shadow: 0 0px 5px 3px rgba(0,0,0,0.2);
    }

        .icon-fix-right .item:last-child {
            margin-bottom: 0;
        }

    .icon-fix-right .item-image {
        height: 100%;
    }

        .icon-fix-right .item-image a {
            padding: 7px;
            display: block;
            width: 100%;
            height: 100%;
        }

        .icon-fix-right .item-image img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
            width: 25px;
            height: 25px;
            position: relative;
            right: 7px;
            top: 1px;
        }

    .icon-fix-right .item-tooltip {
        display: block;
        position: absolute;
        right: 55px;
        top: 0;
        width: 150px;
        font-size: 12px;
        background: #ebebeb;
        line-height: 40px;
        padding: 0 20px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
    }

        .icon-fix-right .item-tooltip:after {
            bottom: 100%;
            right: -18px;
            top: 10px;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            border: solid transparent;
            border-color: transparent;
            border-left-color: #ebebeb;
            border-width: 9px;
            margin-left: -9px;
        }

    .icon-fix-right .item:hover .item-tooltip {
        opacity: 1;
        visibility: inherit;
        transition: 0.5s;
    }
/* Loading full page */
#loading_box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    opacity: 0;
    visibility: hidden;
}

#loading_image {
    width: 100%;
    height: 100%;
    background: url("/assets/images/image-loading.gif") no-repeat center center;
    background-size: 100px;
}
/* loading in box */
.loading {
    position: relative;
    transition: 0.2s;
}

    .loading:before, .loading:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100000;
    }

    .loading:before {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    .loading:after {
        background: url("/assets/images/loadding.svg") no-repeat center center;
        background-size: 100px;
    }
