@media only screen and (max-width: 479px) {
    #sidebarToggle {
        margin-right: 0px !important;
    }

    .info {
        font-size: 0.75rem;
    }

    #navtop a {
        max-width: 170px;
    }

    #logo {
        margin-left: 0px;
    }

    .wrapp_contai .row {
        margin-right: 0px !important;
    }

        .wrapp_contai .row .offset-md-8 {
            margin-left: 30px !important;
        }

    .h500 {
        height: 300px
    }

    .overlay {
        top: 196px;
        width: 200px;
    }

        .overlay img {
            width: 200px
        }

    #layoutSidenav #layoutSidenav_content {
        margin-left: -320px;
    }

    .row_bgdls {
        margin-left: 0px;
    }

    .logo_bgd {
        display: none;
    }

    .bgd-list, .bgd-nm {
        padding: 15px;
        width: 95% !important;
    }

    .tabI {
        height: auto;
    }

    .footer_content {
        display: initial;
        text-align: center;
    }

    .menuInfo {
        width: 95%;
    }

    .menuRig {
        width: 95%
    }

    .kpvsx {
        margin-left: 10px;
    }

    .tenpb {
        font-size: 1rem !important;
    }

    .border_item {
        border: none;
    }

    .item_qd {
        width: 100%;
        flex-wrap: wrap;
        display:flex;
    }
    .item_qd .dot{
        margin-left: 0 !important;
        margin-right:20px;
    }
    .menupxInfo {
        flex-wrap: wrap;
    }

    .pxI, .nhomI {
        width: 100% !important;
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    #sidebarToggle {
        margin-right: 0px !important;
    }
    .info {
        font-size: 0.75rem;
    }
    #navtop a {
        max-width: 170px;
    }
    #logo {
        margin-left:0px;
    }
    .wrapp_contai .row{
        margin-right: 0px !important;
    }
    .wrapp_contai .row .offset-md-8 {
        margin-left: 30px !important;
    }
    .h500{
        height:300px
    }
    .overlay {
        top: 196px;
        width: 200px;
    }
    .overlay img{
        width:200px
    }
    #layoutSidenav #layoutSidenav_content {
        margin-left: -320px;
    }
    .row_bgdls {
        margin-left: 0px;
    }
    .logo_bgd{
        display:none;
    }
    .bgd-list,.bgd-nm{
        padding:15px;
        width:95% !important;
    }
    .tabI{
        height:auto;
    }
    .footer_content{
        display:initial;
        text-align:center;
    }
    .menuInfo{
        width:95%;
    }
    .menuRig{
        width:95%
    }
    .kpvsx{
        margin-left:10px;
    }
    .tenpb {
        font-size: 1rem !important;
    }
    .border_item{
        border:none;
    }
    .item_qd{
        width:100%;
        flex-wrap:wrap;
        display:flex;
    }
    .item_qd .dot{
        margin-left: 0 !important;
        margin-right:20px;
    }
    .menupxInfo{
        flex-wrap:wrap;
    }
    .pxI,.nhomI{
        width:100% !important;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
}
@media only screen and (max-width: 1400px) and (min-width: 1024px) {
}
@media only screen and (max-width: 1599px) and (min-width: 1401px) {
    .genealogy-body {
        max-width: 1500px
    }
    .menuNS{
        max-width:1300px
    }
}
@media only screen and (max-width: 1920px) and (min-width: 1600px) {
   
}
@media only screen and (min-width: 1921px) {
}
