<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LinkAPI" value="http://192.168.240.39/hpdqapi/api/HPDQ/GetEmployeeInfo?MaNhanVien=&amp;HoTen=&amp;PhongBan=&amp;TinhTrang=" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="2097152" requestLengthDiskThreshold="2097152" executionTimeout="240" />
    <authentication mode="Forms">
      <forms defaultUrl="/Home/index" loginUrl="/Home/Index" slidingExpiration="true" timeout="180"></forms>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="OracleDbContext" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.120.116)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HOAPHAT)));User Id=UNISUSER;Password=unisamho;" providerName="Oracle.DataAccess.Client" />
    <add name="EquipmentEntities" connectionString="metadata=res://*/ModelsEquipment.EquipmentDB.csdl|res://*/ModelsEquipment.EquipmentDB.ssdl|res://*/ModelsEquipment.EquipmentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.240.3,1433;initial catalog=EPORTAL;persist security info=True;user id=sa;password=HPDQ@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoDoToChucEntities" connectionString="metadata=res://*/ModelsOrganizational.SoDoToChuc.csdl|res://*/ModelsOrganizational.SoDoToChuc.ssdl|res://*/ModelsOrganizational.SoDoToChuc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.240.3,1433;initial catalog=SoDoToChuc;user id=sa;password=HPDQ@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPORTAL_SERVEYEntities" connectionString="metadata=res://*/ModelsServey.EPORTAL_SERVEY.csdl|res://*/ModelsServey.EPORTAL_SERVEY.ssdl|res://*/ModelsServey.EPORTAL_SERVEY.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.240.3,1433;initial catalog=EPORTAL_SERVEY12;user id=sa;password=HPDQ@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPORTALEntities" connectionString="metadata=res://*/ModelsView360.EPORTAL.csdl|res://*/ModelsView360.EPORTAL.ssdl|res://*/ModelsView360.EPORTAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.240.3,1433;initial catalog=EPORTAL;persist security info=True;user id=sa;password=HPDQ@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PhanQuyenHTEntities" connectionString="metadata=res://*/Models.PhanQuyenHTDB.csdl|res://*/Models.PhanQuyenHTDB.ssdl|res://*/Models.PhanQuyenHTDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.240.3,1433;initial catalog=EPORTAL;user id=sa;password=HPDQ@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPORTAL_UNISEntities" connectionString="metadata=res://*/ModelsPartner.EPORTAL_UNIS.csdl|res://*/ModelsPartner.EPORTAL_UNIS.ssdl|res://*/ModelsPartner.EPORTAL_UNIS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.240.3,1433;initial catalog=EPORTAL_UNIS;persist security info=True;user id=sa;password=HPDQ@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DanhBaDoiTacEntities" connectionString="metadata=res://*/ModelsDanhBaDoiTac.DanhBaDoiTac.csdl|res://*/ModelsDanhBaDoiTac.DanhBaDoiTac.ssdl|res://*/ModelsDanhBaDoiTac.DanhBaDoiTac.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.240.3,1433;initial catalog=DanhBa-DoiTac;user id=sa;password=HPDQ@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPORTAL_DOCUMENTEntities" connectionString="metadata=res://*/ModelsPublish.EPORTAL_DOCUMENT.csdl|res://*/ModelsPublish.EPORTAL_DOCUMENT.ssdl|res://*/ModelsPublish.EPORTAL_DOCUMENT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.240.3,1433;initial catalog=EPORTAL_DOCUMENT;user id=sa;password=HPDQ@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPORTAL_REGISTEREntities" connectionString="metadata=res://*/ModelsTagSign.EPORTAL_REGISTER.csdl|res://*/ModelsTagSign.EPORTAL_REGISTER.ssdl|res://*/ModelsTagSign.EPORTAL_REGISTER.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.240.3,1433;initial catalog=EPORTAL_REGISTER;persist security info=True;user id=sa;password=HPDQ@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPORTAL_NTEntities" connectionString="metadata=res://*/ModelsPartner.EPORTAL_NT.csdl|res://*/ModelsPartner.EPORTAL_NT.ssdl|res://*/ModelsPartner.EPORTAL_NT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.240.3,1433;initial catalog=EPORTAL_NT_SERVER;persist security info=True;user id=sa;password=HPDQ@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>