<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thông báo gelectric</title>
    <link rel="shortcut icon" href="./images/LogoHPDQ.ico">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    
    <link href="./css/plugins/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/plugins/splide.min.css" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style_notify.css" />
    <link rel="stylesheet" href="./css/responsive.css" />
    
</head>

<body>
    <div class="main_wrap">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="./images/LogoHPDQ-small.png" alt="" height="35" id="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Tổng quan</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Thống kê
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Thống kê 1</a>
                              <a class="dropdown-item" href="#">Thống kê 2</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Thông tin Đơn vị
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Thông tin Đơn vị 1</a>
                              <a class="dropdown-item" href="#">Thông tin Đơn vị 2</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Khiếu nại, Khiếu kiện
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Khiếu nại, Khiếu kiện 1</a>
                              <a class="dropdown-item" href="#">Khiếu nại, Khiếu kiện 2</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Thông báo
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Thông báo 1</a>
                              <a class="dropdown-item" href="#">Thông báo 2</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Quản trị hệ thống
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Quản trị hệ thống 1</a>
                              <a class="dropdown-item" href="#">Quản trị hệ thống 2</a>
                            </div>
                        </li>


                    </ul>
                    <div class="d-flex flex-row nav_right align-items-center s_call_menu">
                        <div class="dropdown dropdown-toggle">
                            <image src="./images/menu_account.png" alt="" height="24" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Thông tin người dùng</a>
                                <a class="dropdown-item" href="#">Thoát</a>
                            </div>
                        </div>
                    </div>
                </div>
        </nav>



        <!-- Breakcrum -->
        <div class="d_content block-breakcrum d-flex align-items-center justify-content-between">     
            <div class="block-left-breakcrum d-flex align-items-center">
                <div class="img-breakcrum d-flex justify-content-center align-items-center">
                    <img src="./images/SiteQLKH 2.svg" class="" alt="" />
                </div> 
                <nav aria-label="breadcrumb" class="list-breakcrum">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Thông tin Đơn vị</a></li>
                    <li class="breadcrumb-item"><a href="#">Đối tác</a></li>
                    <li class="breadcrumb-item active" aria-current="page">GELEX ELECTRIC</li>
                    </ol>
                </nav>
            </div>
                
            <div class="block-right-breakcrum">
                <div class="s_notify_searchbox d-flex justify-content-end align-items-center">
                    <input type="text" placeholder="Từ khóa..." />
                    <input type="button" value="Search" />
                </div>
            </div>
        </div>



        <!-- Main content -->
        <div class="d_content s_main-content">
                <ul class="nav nav-tabs s_main_tab" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link " id="infor-tab" data-bs-toggle="tab" data-bs-target="#infor" type="button" role="tab" aria-controls="infor" aria-selected="false">
                            Thông tin
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="notify-tab" data-bs-toggle="tab" data-bs-target="#notify" type="button" role="tab" aria-controls="notify" aria-selected="true">
                            Thông báo
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="complain-tab" data-bs-toggle="tab" data-bs-target="#complain" type="button" role="tab" aria-controls="complain" aria-selected="false">
                            Khiếu nại
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade " id="infor" role="tabpanel" aria-labelledby="infor-tab">
                        content 1
                    </div>

                    <div class="tab-pane fade show active s_notify_content" id="notify" role="tabpanel" aria-labelledby="notify-tab">
                        <div class="s_paging d-flex justify-content-between">
                            <div class="s_number d-flex btn-group align-items-center">
                                <div class="s_group-paging d-flex align-items-center">

                                    <button class="nav-link active btn btn-primary m-l-auto" id="notify-tab" data-bs-toggle="tab" data-bs-target="#notify" type="button" role="tab" aria-controls="notify" aria-selected="true">
                                        Thêm mới
                                    </button>
                                    <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","Complain")'></div>
                               
                                    <div class="dropdown-menu dropdown-menu-right">

                                    </div>
                                </div>


                                    <div class="s_notify_searchbox d-flex justify-content-end align-items-center">
                                       
                                    </div>
                            </div>

                            <div class="s_number d-flex btn-group align-items-center">
                                
                            </div>

                            
                         


                        </div>

                        <div class="s_table_notity">
                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/PDF.svg" alt="" class="icon-file"/>
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/docx.svg" alt="" class="icon-file"/>
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                   
                                </div>
                               
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/docx.svg" alt="" class="icon-file"/>
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/PDF.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...
                                    </h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                                <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>

                                <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>

                               
                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/excel.svg" alt="" class="icon-file"/>
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/PDF.svg" alt="" class="icon-file"/>
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/docx.svg" alt="" class="icon-file"/>
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/docx.svg" alt="" class="icon-file"/>
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/PDF.svg" alt="" class="icon-file"/>
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/excel.svg" alt="" class="icon-file"/>
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>
                            </div>

                            <div class="s_notify_paging d-flex justify-content-end align-items-center">
                                <ul class="notify_paging d-flex flex-row justify-content-end align-items-center w-100">
                                    <li class="notify_paging_item active">1</li>
                                    <li class="notify_paging_item">2</li>
                                    <li class="notify_paging_item">3</li>
                                    <li class="notify_paging_item no_border">...</li>
                                    <li class="notify_paging_item">10</li>
                                    <li class="notify_paging_item no_border">...</li>
                                    <li class="notify_paging_item paging_item_end">»</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="complain" role="tabpanel" aria-labelledby="complain-tab">
                        <div class="s_table_notity">
                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/PDF.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/docx.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/docx.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/PDF.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/excel.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/PDF.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/docx.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/docx.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/PDF.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>

                            </div>

                            <div class="s_row_noti d-flex align-items-center justify-content-between">
                                <div class="s_name d-flex align-items-center">
                                    <img src="images/icon file/excel.svg" alt="" class="icon-file" />
                                    <h5 class="name-file">HPDQ Thông báo số 14521 về việc ...</h5>
                                </div>
                                <span class="datetime">10/12/2021</span>
                            </div>
                            <div class="s_notify_paging d-flex justify-content-end align-items-center">
                                <ul class="notify_paging d-flex flex-row justify-content-end align-items-center w-100">
                                    <li class="notify_paging_item active">1</li>
                                    <li class="notify_paging_item">2</li>
                                    <li class="notify_paging_item">3</li>
                                    <li class="notify_paging_item no_border">...</li>
                                    <li class="notify_paging_item">10</li>
                                    <li class="notify_paging_item no_border">...</li>
                                    <li class="notify_paging_item paging_item_end">»</li>
                                </ul>
                            </div>
                        </div>
                    </div>

        </div>

      


        <footer>
            <div class="footer_content d-flex justify-content-between">
                <div class="footer_item web_name">
                    <span>Công ty cổ phần thép Hòa Phát Dung Quất</span>
                </div>
                <div class="footer_list_item flex-fill web_menu">
                    <ul class="d-flex justify-content-center">
                        <li class="web_menu_item active">Trang chủ</li>
                        <li class="web_menu_item">Giới thiệu</li>
                        <li class="web_menu_item">Tin tức</li>
                        <li class="web_menu_item">Khiếu nại</li>
                    </ul>
                </div>
                <div class="footer_item_copy d-flex">
                    <span class="copyright">Copyright</span>
                    <ul class="copyright_ul">
                        <li>Ban công nghệ thông tin</li>
                        <li>Hóa Phát Dung Quất</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="./js/plugins/jquery.min.js"></script>
    <script src="./js/plugins/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script>
        window.onload=function()
        {
            changelogo();
        };

        window.onresize=function(){
            changelogo();
        }

        function changelogo(){
            var w = window.screen.width;
            if(w < 1200 && w >= 992){
                document.getElementById('logo').src = "./images/LogoHPDQ-small.png";
                document.getElementById('logo').setAttribute('width', '50px');
            }
            else{
                document.getElementById('logo').src = "./images/LogoHPDQ.svg";
                document.getElementById('logo').setAttribute('width', 'unset');
            }
        }
    </script>
</body>
</html>