
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Publish/Views/Shared/_InternalLayout.cshtml";
}
@using EPORTAL.ModelsDanhBaDoiTac
@model PagedList.IPagedList<ManagePartnerValidation>
@using PagedList.Mvc

<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}




<div class="d_content block-breakcrum d-flex align-items-center justify-content-between">
    <div class="block-left-breakcrum d-flex align-items-center">
        <div class="img-breakcrum d-flex justify-content-center align-items-center">
            <img src="~/Areas/Publish/Content/assets/images/SiteQLKH2.svg" class="" alt="" />
        </div>
        <nav aria-label="breadcrumb" class="list-breakcrum">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Thông tin Đơn vị</a></li>
                <li class="breadcrumb-item"><a href="#">Đối tác</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tên Đối Tác</li>
            </ol>
        </nav>
    </div>

    <div class="block-right-breakcrum">
        <div class="s_notify_searchbox d-flex justify-content-end align-items-center">
            <input type="text" placeholder="Từ khóa..." />
            <input type="button" value="Search" />
        </div>
    </div>
</div>



<div class="d_content s_main-content">


    <div class="card-body">




        @*style tabcontent*@

        <div class="tab-content" id="myTabContent" style="border: 1px solid #ddd; ">

            @*infor*@
            <div class="tab-pane fade in show active" id="home" role="tabpanel">

                <div class="row justify-content-center" style="padding: 2rem 0; color: black;">
                    <div class="col-lg-10 col-xl-10">

                        <div class="row justify-content-center" style="">

                            <div class="col-md-4 col-8 " style=" height: 180px; align-items: center;">

                                <img src="~/Areas/Publish/Content/assets/images/gelex.jpg" class="d-block w-70 justify-content-center" alt="..." style="border: 1px solid black;">

                            </div>


                            @*<div class="col-md-1">

                                </div>*@


                            <div class="col-md-8 col-12" style="">

                                <div class="row" style="padding-top: 12px;">

                                    <div class="col-md-3 col-3">
                                        <h4 style="border-left: solid #dc3545; margin-left: -16px; padding-left: 10px; color: black; font-weight: bold;">TỔNG QUAN</h4>
                                    </div>
                                    @*<div class="col-md-8 col-8">
                                            <hr />
                                        </div>*@
                                </div>



                                <div class="row">
                                    <div class="col-md-3 col-3">
                                        <p style="font-weight:bold;">Tên tiếng Anh :</p><br />
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>GELEX ELECTRIC</p>
                                    </div>
                                </div>

                                <div class="row" style="">
                                    <div class="col-md-3 col-3">
                                        <p style="font-weight:bold;">Tên tiếng Việt :</p><br />
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>Công ty cổ phần thiết bị điện GELEX</p>
                                    </div>
                                </div>

                                <div class="row" style="">
                                    <div class="col-md-3 col-3">
                                        <p style="font-weight:bold;">Tên viết tắt :</p><br />
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>GEX</p>
                                    </div>
                                </div>

                                <div class="row" style="">
                                    <div class="col-md-3 col-3">
                                        <p style="font-weight:bold;">Ngày hoạt động :</p><br />
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>29/08/2016</p>
                                    </div>
                                </div>

                                <div class="row" style="">
                                    <div class="col-md-3 col-3">
                                        <p style="font-weight:bold;">Lĩnh vực hoạt động :</p><br />
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>Sản xuất kinh doanh thiết bị Điện</p>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="form-floating mb-3">
                            <h5 style="margin-top: 2%;color: black;font-weight: bold;"> CÔNG TY CỔ PHẦN THIẾT BỊ GELEX </h5>
                            <hr />
                        </div>


                        <div class="form-floating mb-3" style="display: flex;">

                            <div class="width" style="width: 20%;">
                                <i class="bi bi-activity"></i>
                                <i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;
                                <b>Tên quốc tế</b>
                            </div>

                            <span>GELEX ELECTRIC EQUIPMENT JOINT STOCK COMPANY</span>

                        </div>
                        <hr />

                        <div class="form-floating mb-3" style="display: flex;">
                            <div class="width" style="width: 20%;">
                                <i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;
                                <b>Tên viết tắt</b>
                            </div>

                            <span>GELEX ELECTRIC JSC</span>

                        </div>
                        <hr />

                        <div class="form-floating mb-3" style="display: flex;">

                            <div class="width" style="width: 20%;">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;
                                <b>Mã số thuế</b>
                            </div>

                            <span>0107547109</span>

                        </div>
                        <hr />

                        <div class="form-floating mb-3" style="display: flex;">

                            <div class="width" style="width: 20%;">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
                                <b>Địa chỉ</b>
                            </div>

                            <span style="width: 80%; ">Tầng 23, Tòa nhà Gelex, Số 52 phố Lê Đại Hành, Phường Lê Đại Hành, Quận Hai Bà Trưng, Thành phố Hà Nội, Việt Nam</span>

                        </div>
                        <hr />

                        <div class="form-floating mb-3" style="display: flex;">
                            <div class="width" style="width: 20%;">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;
                                <b>Người đại diện</b>
                            </div>

                            <span style="width: 80%;">
                                Nguyên Trọng Trung( sinh năm 1982 - Hà Nội)<br />
                                Ngoài ra Nguyên Trọng Trung còn đại diện các doanh nghiệp<br />
                                * CÔNG TY CỔ PHẦN THIẾT BỊ GELEX <br />
                                * VĂN PHÒNG ĐẠI DIỆN CÔNG TY CỔ PHẦN THIẾT BỊ ĐO ĐIỆN EMIC TẠI THÀNH PHỐ HỒ CHÍ MINH
                            </span>

                        </div>
                        <hr />

                        <div class="form-floating mb-3" style="display: flex;">
                            <div class="width" style="width: 20%;">
                                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
                                <b>Điện thoại</b>
                            </div>

                            <span style="width: 80%;">+84 (0)2438257979</span>

                        </div>
                        <hr />

                        <div class="form-floating mb-3" style="display: flex;">
                            <div class="width" style="width: 20%;">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;
                                <b>Ngày hoạt động</b>
                            </div>

                            <span style="width: 80%;">2018 - 10 - 01</span>

                        </div>
                        <hr />

                        <div class="form-floating mb-3" style="display: flex;">
                            <div class="width" style="width: 20%;">
                                <i class="fa fa-university" aria-hidden="true"></i>&nbsp;
                                <b>Quản lý bởi</b>
                            </div>

                            <span style="width: 80%;">Cục thuế thành phố Hà Nội</span>

                        </div>
                        <hr />

                        <div class="form-floating mb-3" style="display: flex;">
                            <div class="width" style="width: 20%;">
                                <i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;
                                <b>Loại hình DN</b>
                            </div>

                            <span style="width: 80%;">Công ty cổ phần ngoài NN</span>

                        </div>
                        <hr />

                        <div class="form-floating mb-3" style="display: flex;">
                            <div class="width" style="width: 20%;">
                                <i class="fa fa-info" aria-hidden="true"></i>&nbsp;
                                <b>Tình trạng</b>
                            </div>

                            <span style="width: 80%;">Đang hoạt động (đã được cấp GCN ĐKT)</span>

                        </div>
                        <hr />

                        @*<div>
                                <span style="padding-right:63%;">Cập nhật lần cuối vào <b>02/03/2022</b>. Bạn muốn cập nhật thông tin mới nhất</span>

                                <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Cập nhật</button>
                            </div>*@


                        <div class="form-floating mb-3">
                            <h5 style="margin-top: 2%;color: black;font-weight: bold;"> CÔNG TY CỔ PHẦN THIẾT BỊ GELEX </h5>

                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>


</div>



<script type="text/javascript">




</script>


