@model EPORTAL.ModelsView360.ProjectsGroupValidation

@using (Html.BeginForm("Create", "ProjectsGroup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <fieldset id="SubmitForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1">Tên nhóm tài liệu</label>
                                @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "GroupName", @text = "", @required = true } })
                                <span id="ErrorFullName" style="color: red; text-transform: none; font-weight: normal "></span>
                            </div>
                        </div>
                    </div>
                    <div class="btn-margin-top text-center">
                        <input type="submit" value="Xác nhận" class="btn btn-success button_submit" />
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
}


