
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EPORTAL.ModelsTagSign
@model PagedList.IPagedList<NT_CardRegistrationInforValidation>
@using PagedList.Mvc
@using EPORTAL.ModelsView360;
@using EPORTAL.ModelsTagSign;

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

@{
    EPORTALEntities db = new EPORTALEntities();
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-portfolio icon-gradient bg-grow-early">
                        </i>
                    </div>
                    <div>
                        Biểu đồ số lượng user BP/NM
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-content">
            <div class="row">
                <div class="card">

                    @*<div class="card-header">
                        <div class="row" style="width:100%">
                            <div class="col-md-10 col-lg-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="card-body">
                        <div class="table-responsive">
                            <div style=" display: flex; flex-direction:row; width: 100%;">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="card mb-4">
                                            <img id="gif-loading" />
                                            <div class="card-header" id="1" style="background: #e0f3ff;">
                                                <i class="fas fa-chart-bar mr-1"></i>biểu đồ user sử dụng Projects
                                            </div>
                                            <div class="card-body" id="2">
                                                <div id="container" style="width:100%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $.getJSON("/Report/GetData", function (data) {

                                            var Names = []
                                            var Counts = []
                                            var Names2 = []
                                            var Counts2 = []

                                            //for (var i = 0; i < data.length; i++) {
                                            //    Names.push(data[i].name);
                                            //    Pbs.push(data[i].count);
                                            //}
                                            for (var i = 0; i < data.CountBP.length; i++) {
                                                //console.log((data.CountBP.length - 1) - i)
                                                /*console.log('sl_'  + i)*/
                                                //Names.push(data.CountBP[data.CountBP.length - i]);
                                                Names.push(data.CountBP[(data.CountBP.length - 1) - i]);
                                            }
                                            for (var i = 0; i < data.CountNV.length; i++) {

                                                Counts.push(data.CountNV[i]);
                                            }
                                            //for (var i = 0; i < data.CountBP2.length; i++) {
                                            //    console.log((data.CountBP2.length - 1) - i)
                                            //    /*console.log('sl_'  + i)*/
                                            //    //Names.push(data.CountBP[data.CountBP.length - i]);
                                            //    Names2.push(data.CountBP2[(data.CountBP2.length - 1) - i]);
                                            //}
                                            for (var i = 0; i < data.CountNV2.length; i++) {

                                                Counts2.push(data.CountNV2[i]);
                                            }
                                            Highcharts.chart('container', {
                                                chart: {
                                                    type: 'line'
                                                },
                                                credits: {
                                                    enabled: false
                                                },
                                                title: {
                                                    text: ''
                                                },
                                                exporting: {
                                                    enabled: false
                                                },
                                                xAxis: {
                                                    categories: Names
                                                },
                                                yAxis: {
                                                    title: {
                                                        text: 'Số Lượng'
                                                    }
                                                },
                                                plotOptions: {
                                                    line: {
                                                        dataLabels: {
                                                            enabled: true
                                                        },
                                                        enableMouseTracking: false
                                                    }
                                                },
                                                series: [{
                                                    marker: {
                                                        enabled: false
                                                    },
                                                    name: 'User Projects',
                                                    data: Counts
                                                },
                                                    {
                                                        marker: {
                                                            enabled: false
                                                        },
                                                        name: 'User Video',
                                                        data: Counts2
                                                    }]
                                            });
                                        });
                                    });

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">

            </div>
        </div>
    </div>


</div>






