
:root {
    font-size: 16px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C8C8C8;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #C8C8C8;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #C8C8C8;
}

/* Common */
html, body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    color: #999;
}

.d_content {
    max-width: 80%;
    margin: 0 auto;
}

.d_content_body {
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

.d_color {
    color: #0099cc;
}

.d_color_2 {
    color: #003399;
}

.d_title {
    border-left: 4px solid #0099cc;
    padding-left: .8rem;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
}

.img-fluid {
    width: 100%;
}


.d_left {
    padding-right: 2rem;
}

.d_line {
    width: 100%;
    border-top: 1.5px solid #ccc;
}


.d_cap {
    background-color: #0099cc;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .8rem 2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: -53rem;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

    .d_cap::before {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 0;
        height: 0;
        display: block;
        content: '';
        border-width: 20px 20px 10px 0;
        border-left: 15px solid transparent;
        border-right: 0;
        border-top: 20px solid #006699;
    }

.d_bg_1 {
    background-color: #f7f9fb;
}

.d_title_news {
    font-size: 1rem;
    color: #4A4A4A;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    font-family: "Roboto";
}

.splide__pagination {
    bottom: -2.5em;
}

.splide__pagination__page {
    background: #fff;
    border: 1px solid #0097D0;
    width: 11px;
    height: 11px;
    margin: 5px;
}

.s_journeys_HP .splide__pagination__page {
    border: 1px solid #000;
}

.splide__pagination__page.is-active {
    background: #0097D0;
    transform: none;
}

/* Menu */
.navbar {
    background-color: #fff;
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
    -moz-box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

    .navbar > .container-fluid {
        padding-left: 40px;
        padding-right: 40px;
    }

    .navbar .nav_right {
        padding-left: 10rem;
    }

        .navbar .nav_right .nav_right_item {
            padding: .5rem 2rem;
        }

            .navbar .nav_right .nav_right_item:nth-child(2) {
                padding: 0 1rem;
            }

            .navbar .nav_right .nav_right_item:first-child {
                border-right: 2px solid #ccc;
            }

            .navbar .nav_right .nav_right_item:last-child {
                padding-right: 0;
            }

            .navbar .nav_right .nav_right_item .nav_right_call {
                font-weight: 700;
                font-size: 1.2rem;
            }

            .navbar .nav_right .nav_right_item .nav_right_text_color {
                font-size: 1.2rem;
            }

            .navbar .nav_right .nav_right_item .nav_right_text {
                color: #666;
                font-size: .9rem;
            }

.navbar-nav {
    flex: 1;
}

    .navbar-nav .nav-item {
        padding-left: 2rem;
        padding-right: 2rem;
    }

        .navbar-nav .nav-item a {
            font-size: 1rem;
            color: #646464;
        }

            .navbar-nav .nav-item a:hover {
                color: #646464;
            }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: #646464;
}

.nav-link.active {
    font-weight: 700;
}



/* Giới thiệu */
.s_info h1 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.s_info h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.s_info h3 {
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.s_info .d_left {
    width: 35%;
    min-width: 35%;
}

.s_info .s_info_more {
    margin-top: 2rem;
}

    .s_info .s_info_more .d_more {
        border: none;
        background-color: #0099cc;
        color: #fff;
        text-decoration: none;
        padding: .5rem .8rem;
        font-size: .9rem;
        box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
    }

        .s_info .s_info_more .d_more:hover {
            background-color: #05418A;
        }

.s_info .d_content_body {
    padding-bottom: 4.5rem;
}

.d_content_item .d_text {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: #6D6C6C;
}

.splide__slide img {
    width: 100%;
}



/* Tin tức sự kiện*/

/* Left */
.s_article .d_left {
    width: 35%;
    padding: 2rem 2.5rem 2rem 1.5rem;
}

.s_journeys_HP {
    position: relative;
}

    .s_journeys_HP .splide__arrow {
        display: none;
    }

    .s_journeys_HP .splide__pagination__page {
        height: 8px;
        width: 8px;
    }

        .s_journeys_HP .splide__pagination__page.is-active {
            background-color: #000;
            transform: scale(1);
        }

    .s_journeys_HP .splide__pagination {
        bottom: -1.5em;
    }

.s_article .s_list-news .item_cnt-news:last-child {
    margin-bottom: 40px;
}

.s_article .s_list-news .item_cnt-news a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    font-family: "Roboto";
    font-weight: 400;
}

    .s_article .s_list-news .item_cnt-news a:hover {
        color: #0097D0;
        text-decoration: underline;
    }

.journeys_HP_list .d_title_news {
    font-weight: 700;
}


.s_list-news .s_cnt-news {
    margin-left: 1.25rem;
}

.s_list-news .d_title_news {
    font-weight: 700;
    text-align: left;
    padding: 4rem 0 1rem 0;
}

.s_article .s_list-news .item_cnt-news {
    margin-bottom: 0.875rem;
    list-style-type: disc;
}

.s_list-news .view-more .txt-view-more {
    font-family: "Roboto";
    color: #333;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}

.s_list-news .view-more:hover .txt-view-more {
    color: #0097D0;
    cursor: pointer;
}


.s_list-news .view-more .img-view-more {
    height: 10px;
    width: 10px;
    margin-left: 5px;
}


/* Right */
.s_article .d_right {
    padding: 2rem 1.5rem 2rem 0;
}

.d_content_item .path-main-news {
    width: 49.5%;
}

.d_content_item .item-main-news {
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

    .d_content_item .item-main-news img {
        transition: all 1s;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .d_content_item .item-main-news:hover img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .d_content_item .item-main-news .name {
        font-family: "Roboto";
        color: #000;
        font-weight: 700;
        font-size: 0.875rem;
        text-transform: uppercase;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        bottom: 0;
        padding: 10px;
        z-index: 2;
    }

/* .d_content_item .item-main-news img {
    height: 232px;
} */

/* Thông báo */
.s_notify .d_left {
    margin-right: -52.15rem;
    background-color: rgba(5, 65, 138, 0.03);
    font-family: 'Roboto', sans-serif;
    margin-left: -52rem;
}

.s_notify .d_right {
    width: 32%;
    min-width: 32%;
}

.s_notify .s_notify_content {
    margin-top: -2.5rem;
}

.s_notify .s_notify_searchbox input[type="text"] {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 0.4rem;
    width: 40%;
    font-size: 1rem;
}

.s_notify .s_notify_searchbox input[type="button"] {
    background-color: transparent;
    border: none;
    text-indent: -999px;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 18px;
    background-size: contain;
    left: -2.5rem;
    position: relative;
}

.s_notify .s_notify_list_content {
    margin-top: 1.3rem;
    background-color: #fff;
}

.s_notify .s_notify_list {
    padding: 1rem 3.5rem 1rem 2.5rem;
}

.s_notify .s_notify_list_item {
    padding: 1rem 0;
    border-bottom: 1px solid #C8C8C8;
}

    .s_notify .s_notify_list_item:last-child {
        border-bottom: none;
    }

    .s_notify .s_notify_list_item .notify_article {
        padding-left: 0;
        padding-right: 1rem;
        position: relative;
    }

    .s_notify .s_notify_list_item.notify_new {
        position: relative;
    }

        .s_notify .s_notify_list_item.notify_new::after {
            background-image: url(../images/new-gif.svg);
            background-repeat: no-repeat;
            width: 3rem;
            height: 1.7rem;
            position: absolute;
            right: -3.7rem;
            display: block;
            content: '';
            background-size: contain;
        }

    .s_notify .s_notify_list_item .date_noti {
        font-weight: 700;
        color: #0097D0;
        padding-right: 0;
    }

    .s_notify .s_notify_list_item .notify_article_link {
        flex: 1;
    }

        .s_notify .s_notify_list_item .notify_article_link a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            color: #05418A;
        }

            .s_notify .s_notify_list_item .notify_article_link a:hover {
                text-decoration: underline;
            }

.s_notify .s_notify_paging {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    padding-bottom: 1.25rem;
}

    .s_notify .s_notify_paging .notify_paging_item {
        padding: .5rem 1rem;
        border: 1px solid #E5E5E5;
        border-radius: 2px;
        margin-left: .25rem;
        margin-right: .25rem;
    }

        .s_notify .s_notify_paging .notify_paging_item.active {
            background-color: #C0001B;
            color: #fff;
        }

        .s_notify .s_notify_paging .notify_paging_item:hover {
            background-color: #C0001B;
            color: #fff;
            cursor: pointer;
        }

    .s_notify .s_notify_paging .no_border:hover {
        background-color: transparent;
        color: #5C5C5C;
    }

    .s_notify .s_notify_paging .no_border {
        border: none;
        padding-left: 0;
        padding-right: 0;
    }

.s_notify .d_left {
    padding: 2.05rem;
}

/* Footer */
.footer_content {
    background-color: #0097D0;
    color: #fff;
    padding: 1rem 40px;
    font-family: 'Roboto', sans-serif;
}

    .footer_content .web_name {
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.6);
    }

    .footer_content .web_menu ul li.web_menu_item {
        padding: 0 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

        .footer_content .web_menu ul li.web_menu_item.active {
            font-weight: 700;
        }

.copyright {
    text-transform: uppercase;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: underline;
    padding-right: 10px;
    line-height: 1.5rem;
}

.copyright_ul {
    color: rgba(255, 255, 255, 0.6);
    font-size: .6rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.footer_item_copy {
    align-items: center;
}
